body{
  position: relative;
}

/* Navbar  */
.logo{
  width: 15vw;
  height: 10vh;
  margin: -10px;
}

@media only screen and (max-width: 900px) {
.logo{
width: auto;
}

.navbarContainer{
  margin: 0 5vw;
}
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #1F3556;
}

.navbar a{
  color: #FFFFFF;
}

.navbar ul{
  background-color: #1F3556;
}

.nav-item :hover{
  color: #CFAA58;
}

.active{
  color: #CFAA58;
}
/* End of Navbar  */


/* Start of Carrousel */
.carousel{
z-index: 0;
margin-top: 10vh;
}

.carousel-caption{
  text-align: left;
  
}

/* .carrouselImg{
height: auto;
} */

.carousel-item{
  max-height: 70vh;
}

@media only screen and (min-width: 1190px) {
    .carousel-item{
    height: auto;
  }
}

@media only screen and (max-width: 1189px) {
  .carousel-item{
  height: auto;
}
}

/* Mobile carrousel image adjustments */
@media only screen and (max-width: 900px) {
  .carousel-item{
    height: auto;
  }

#carrouselImg1{
  content: url("./resources/img/corvette.jpg");
}
#carrouselImg2{
  content:  url("./resources/img/mercedes.jpg");
 }
#carrouselImg3{
  content:  url("./resources/img/jeep-repair.jpg");
 }
 #carrouselImg4{
  content:  url("./resources/img/savana.jpeg");
 }
 #carrouselImg5{
  content:  url("./resources/img/fiat.jpg");
 }
 #carrouselImg6{
  content:  url("./resources/img/cadillac.jpeg");
 }
}
/* End of Carrousel */


/* Start of Quienes Somos */
.quienesSomos{
  max-width: 100%;
  align-items: center;
  /* margin: 0 10vw; */
}

.quienesSomosImg{
  height: 100%;
}

.quienesSomosImgContainer{
  min-width: 100px;
}
/* End of Quienes Somos */


/* Start of Servicios */

.servicesSegment{
  align-items: center;
}

.servicioCard{
  padding: 2%;
}

.segmentTitle{
  text-align: center;
}

.dataContainer{
  overflow-y: auto;
  margin-left: 2%;
  position: relative;
  height: 50vh;
}

.serviciosSegment{
  top: 0;
}

.anchors{
  padding-top: 100px;
  margin-top: -100px; 
}

.list-group-item-action a{
  overflow-anchor: none;
}

@media only screen and (max-width: 900px) {

}

/* End of Servicios */

/* Start of Values (Mision y Vision) */

.valuesTitle{
font-weight: bold;
text-align: center;
}

.valuesBody{
  text-align: justify;
}

.valuesContent{
  margin: 10px 0;
}

/* End of Values (Mision y Vision) */


/* Start of Cotization */

.serviceSelector{
  height: 20vh;
  overflow-y: scroll;
}

/* End of Contization */

/* Start of footer */
.mainFooter{
  text-align: center;
}

/* End of footer */