body{
  position: relative;
}

/* Navbar  */
.logo{
  width: 15vw;
  height: 10vh;
  margin: -10px;
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #1F3556;
}

.navbar a{
  color: #FFFFFF;
}

.navbar ul{
  background-color: #1F3556;
}

.nav-item :hover{
  color: #CFAA58;
}

.active{
  color: #CFAA58;
}
/* End of Navbar  */


/* Start of Carrousel */
.carousel{
z-index: 0;
margin-top: 10vh;
}

.carousel-caption{
  text-align: left;
  
}

@media only screen and (min-width: 1190px) {
    .carousel-item{
    height: 80vh;
  }
}
/* End of Carrousel */


/* Start of Quienes Somos */
.quienesSomos{
  max-width: 100%;
  align-items: center;
  /* margin: 0 10vw; */
}

.quienesSomosImg{
  height: 100%;
}

.quienesSomosImgContainer{
  min-width: 100px;
}
/* End of Quienes Somos */


/* Servicios */
.servicioCard{
  padding: 2%;
}

.segmentTitle{
  text-align: center;
}

.serviciosContainer{
  display: flex;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  justify-content: center;
}

.list-group{
  width: 20vw;
}

.dataContainer{
  overflow-y: auto;
  margin-left: 2%;
  position: relative;
  height: 50vh;
}

.serviciosSegment{
  top: 0;
}

/* End of Servicios */

/* Start of Values (Mision y Vision) */

.valuesTitle{
font-weight: bold;
}

.valuesContent{
  margin: 10px 0;
}

/* End of Values (Mision y Vision) */


/* Start of Cotization */

.serviceSelector{
  height: 20vh;
  overflow-y: scroll;
}

/* End of Contization */